body {
        background-color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 15px;

    }

a {
        color: #5b3b2a;
        text-decoration: none;
        font-size: 14px;
}

a:hover {
        color: #5b3b2a;
        text-decoration: underline;
        font-size: 14px;
}

h3 {
        color: #5b3b2a;
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
}

.listheading {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        font-weight:normal;
}

.italic {
        font-style: italic;
        font-weight:normal;
}

.center {
        text-align: center;
}

.homebg {
    color: white;
        background-image: url(../images/backgroundphoto.jpeg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
}

